<mat-card class="base-card">
    <mat-card-header class="col-md-12 mr-auto ml-auto">
      <div mat-card-avatar class="header-image-1"></div>
      <mat-card-title>¡Saludos!</mat-card-title>
      <mat-card-subtitle>Descargar certificado
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="col-md-12 mr-auto ml-auto">

      <p style="text-align:justify;">
        <b class="b-atention">CERTIFICADO DE INSCRIPCIÓN:</b>
        <br><br>
        Puedes descargar tu certificado en el siguiente enlace.
        <br><br>
        <a [href]="urlDoc" download="Certificado.pdf"> Decargar certificado</a>
      </p>
    </mat-card-content>
  </mat-card>